<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>886287444509-tlo41642pvi5op7t0qr95k2tvsvonej8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886287444509-tlo41642pvi5op7t0qr95k2tvsvonej8</string>
	<key>API_KEY</key>
	<string>AIzaSyBH8qTHviRoJY8eOTgc8LW-O5F9lh6jyhI</string>
	<key>GCM_SENDER_ID</key>
	<string>886287444509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>altrum.Social-Wallet</string>
	<key>PROJECT_ID</key>
	<string>social-wallet-a5da1</string>
	<key>STORAGE_BUCKET</key>
	<string>social-wallet-a5da1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886287444509:ios:18f266ca91e6ed9a</string>
	<key>DATABASE_URL</key>
	<string>https://social-wallet-a5da1.firebaseio.com</string>
</dict>
</plist>